[Unit]
Description=Gunicorn instance to serve flask app
After=network.target

[Service]
User=sruthikutcharlapati1903
Group=www—data
WorkingDirectory=/home/sruthikutcharlapati1903/dr-crop-repo-github
Environment="PATH=/home/sruthikutcharlapati1903/venv/bin"
ExecStart=/home/sruthikutcharlapati1903/venv/bin/gunicorn --workers 3 --bind unix:main.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
